/* MAIN */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background: linear-gradient(#fff 50%, #eee);
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.mg--top-large {
  margin-top: 6.4rem;
}

/* BUTTON */

.btn {
  width: 16.7rem;
  height: 5.6rem;
  border: none;
  border-radius: 9999px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.top-left p:has(+ .btn-top-left:hover),
.btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* FLEX */

.flex {
  display: flex;
}

.flex--col {
  flex-direction: column;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--between {
  align-items: center;
  justify-content: space-between;
}

/* GRID */

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 50% 50%;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
